<!--

To be used for local CSS changes required for main pages

-->


#gallery {
  max-width:940px;
  margin: 0;
  padding: 0 5%;
  list-style: none;
}

#gallery li {
  float: left;
  width: 28.33%;
  margin: 2.5%;
  background-color: rgb(229, 20, 16);
  color: #fff;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 2em;
  color: #fff;
}
  
#gallery img  {
  max-width: 100%;
}

#gallery a:hover  {
  color: fff;
}

.tile-grid {
    margin: 1em auto 1em auto;
    max-width: 80%;
}
