.
#nav.nav-banner, nav.nav-banner {
  margin-top: 20px;
  margin-bottom: 0;
  border-radius: 0;
  background-color: #0168b3;
  overflow: hidden;
  font-size: 14px;
}

#nav.nav-banner li a, nav.nav-banner li a {
  display: block;
  background-color: inherit;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  padding: 16px;
  white-space: nowrap
}

